#formDiv {
  margin: 0 auto;
  text-align: center;
}

body {
    background: linear-gradient(to left, rgb(241, 99, 194), rgb(87, 170, 218));
}

h3 {
  text-align: center;
}

.messagesDiv {
  text-align: center;
  margin-top: 20px;
  border:1px solid black;
}

.author {
  text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
}

.messagePar {
  font-style: italic;
  margin-bottom: 10px;
}

hr {
    margin-left: 10%;
    margin-right: 10%;
    border-color: blueviolet;
    background-color: blueviolet;
}

.delete-button {
    position: absolute;
    right: 100px;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}


.textarea {
    border: 2px solid rgb(46, 13, 43);
    font-family: inherit;
    font-size: inherit;
    padding: 1px 6px;
    background: none;
  }
  
 
  .textarea {
    display:table;
    margin:0 auto;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
  }
  
  .textarea[contenteditable]:empty::before {
    content: "Placeholder still possible";
    color: gray;
  }

  .submitButton{
    background: linear-gradient(to left, rgb(241, 99, 194), rgb(87, 170, 218));
  }

  #authorInput{
    background: linear-gradient(to right, rgb(241, 99, 194), rgb(87, 170, 218));
  }